<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="alert-container"></div>
    <div class="container mt-3">

        <header id="header-container"></header>

        <div id="error-message" class="alert alert-danger d-none"></div>

        <br>
        <h2>Order Summary</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th class="text-right">Price (Per Item with VAT)</th>
                    <th class="text-right">Total Price With VAT</th>
                </tr>
            </thead>
            <tbody id="order-products"></tbody>
            <tr>
                <td colspan="3" class="text-right"><strong>VAT:</strong></td>
                <td class="text-right" id="vat"></td>
            </tr>
            <tr>
                <td colspan="3" class="text-right"><strong>VAT in %:</strong></td>
                <td class="text-right" id="vat-percent"></td>
            </tr>
            <tr>
                <td colspan="3" class="text-right"><strong>Total Sum Without VAT:</strong></td>
                <td class="text-right" id="total-sum"></td>
            </tr>
            <tr>
                <td colspan="3" class="text-right"><strong>Total :</strong></td>
                <td class="text-right" id="total-sum-vat"></td>
            </tr>
            <tbody id="promotion">
                <!-- Items will be dynamically loaded here -->
            </tbody>
        </table>
        <div>
            <h4>Shipping Details</h4>
            <p id="shipping-details"></p>
        </div>
        <h2>Payment Details</h2>
        <form id="payment-form">
            <input type="hidden" name="order_id" id="order-id">

            <label for="payment_method">Choose Payment Method:</label>
            <select id="payment_method" class="form-control">
                <option value="bobi">Bobi</option>
                <option value="paypal">PayPal</option>
            </select>
            <br>

            <div id="bobi-payment" class="d-block">
                <div class="form-group">
                    <label for="payment_amount">Enter Payment Amount:</label>
                    <input type="number" id="payment_amount" name="payment_amount" class="form-control" step="0.01" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit Payment</button>
        </form>
    </div>

    <script>
        // Function to extract query parameters from the URL
    function getOrderIdFromUrl() {
        const params = new URLSearchParams(window.location.search);
        return params.get('order_id');
    }

    // Function to populate the payment page with order details
    function populatePaymentPage(orderData) {
        const order = orderData.responseGetOrder;

        document.getElementById('order-id').value = order.order_id;

        const orderProductsBody = document.getElementById('order-products');

        let symbol;

        order.cart_items.forEach(item => {
        symbol = item.symbol;

        let priceWithVatPerItem = (item.price + (item.price * (item.vat / 100))).toFixed(2);
        let totalPriceWithVatForAllItemsSameType = ((item.price * item.quantity) +  ((item.price * item.quantity) * (item.vat / 100))).toFixed(2);

        orderProductsBody.innerHTML += `
                <tr>
                    <td>${item.name}</td>
                    <td>${item.quantity}</td>
                    <td class="text-right">${priceWithVatPerItem} ${item.symbol || ''}</td>
                    <td class="text-right">${totalPriceWithVatForAllItemsSameType} ${item.symbol || ''}</td>
                </tr>
            `;
        });

        let total_sum = order.total_sum;
        let total_sum_with_vat = order.total_sum_with_vat;
        let discount_percentage = order.discount_percentage;

        document.getElementById('vat').innerText = (total_sum_with_vat - total_sum).toFixed(2) + ' ' + (symbol || '');
        document.getElementById('vat-percent').innerText = `${order.vat_in_persent}%`;
        document.getElementById('total-sum').innerText = (total_sum).toFixed(2) + ' ' + (symbol || '');
        document.getElementById('total-sum-vat').innerText = (total_sum_with_vat).toFixed(2) + ' ' + (symbol || '');

        if (discount_percentage != 0) {
            const discountTable = document.getElementById('promotion');
            discountTable.innerHTML += `
            <tr>
                <td colspan="3" id="discount_percentage" class="text-right"><strong>Discount Percentage:</strong></td>
                <td class="text-right">${discount_percentage} %</td>
            </tr>
            <tr>
                <td colspan="3" class="text-right"><strong>Discount Amount:</strong></td>
                <td class="text-right">${(total_sum_with_vat * (discount_percentage / 100)).toFixed(2)} ${symbol}</td>
            </tr>
            <tr>
                <td colspan="3" class="text-right"><strong>Total with discount:</strong></td>
                <td class="text-right">${(total_sum_with_vat - (total_sum_with_vat * (discount_percentage / 100))).toFixed(2)} ${symbol}</td>
            </tr>
            `;
        }

        // Populate shipping details
        const shippingDetails = order.shipping_details;
        document.getElementById('shipping-details').innerText = `
            Name: ${shippingDetails.first_name} ${shippingDetails.last_name},
            Address: ${shippingDetails.address}, 
            Phone: ${shippingDetails.phone}, 
            Email: ${shippingDetails.email}
        `;

        const newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
        window.history.replaceState({ path: newUrl }, '', newUrl);
    }

    // Fetch order details from the backend using the order ID
    function fetchOrderDetails(orderId) {
        if (!navigator.onLine) {
            alert("You are offline. Please check your internet connection.");
            return;
        }

        const url = `/order?order_id=${orderId}`;

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(orderData => {
            populatePaymentPage(orderData);
        })
        .catch(error => {
            console.error('Error fetching order details:', error);
            alert('Failed to load order details. Please try again.');
        });
    }

    // On document load, get the order ID and fetch order details
    window.onload = function() {
        if (!navigator.onLine) {
            alert("You are offline. Please check your internet connection.");
        }

        const orderIdFromUrl = getOrderIdFromUrl();
        let orderId = orderIdFromUrl;

        if (!orderId) {
            const hiddenOrderIdField = document.getElementById('order-id');
            orderId = hiddenOrderIdField ? hiddenOrderIdField.value : null;
        }

        console.log(orderId);
        if (orderId) {
            fetchOrderDetails(orderId);
        } else {
            alert('Order ID is missing. Unable to load order details.');
        }
    };

    // Display alerts
    const displayAlert = (type, message) => {
        const alertContainer = document.getElementById('alert-container');
        const alert = document.createElement('div');
        alert.classList.add('alert', `alert-${type}`);
        alert.innerText = message;
        alertContainer.appendChild(alert);

        // Automatically hide the alert after 5 seconds
        setTimeout(() => {
            alertContainer.innerHTML = '';
        }, 5000);
    };

    // Handle form submission for payment
    document.getElementById('payment-form').addEventListener('submit', async function(event) {
        event.preventDefault();

        if (!navigator.onLine) {
            alert("You are offline. Please check your internet connection.");
            return;
        }

        const paymentMethod = document.getElementById('payment_method').value;
        const orderId = document.getElementById('order-id').value;

        try {
            if (paymentMethod === 'bobi') {
                const paymentAmount = document.getElementById('payment_amount').value;

                // finish_payment
                const response = await fetch('/payment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        payment_method: 'bobi',
                        order_id: orderId,
                        payment_amount: paymentAmount
                    })
                });

                const data = await response.json();

                if (data.success) {
                    alert(data.message);
                    window.location.href = '/home.html';
                } else {
                    displayErrorMessage(data.error_message || "Payment failed.");
                }
            } else if (paymentMethod === 'paypal') {
                // paypalme
                const response = await fetch('/paypalme', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        payment_method: 'paypal',
                        order_id: orderId,
                    })
                });

                if (response.ok) {
                    const responseData = await response.json();
                    window.location.href = responseData.redirectUrl; // Redirect to PayPal approval URL
                } else {
                    alert("PayPal payment initialization failed.");
                }
            }
        } catch (error) {
            console.error('Error during payment:', error);
            alert(`Internal server error. Try again later.`);
        }
    });

    document.getElementById('payment_method').addEventListener('change', function() {
        const selectedMethod = this.value;
        const bobiPaymentDiv = document.getElementById('bobi-payment');
        const paymentAmountField = document.getElementById('payment_amount');

        if (selectedMethod === 'bobi') {
            bobiPaymentDiv.classList.add('d-block');
            bobiPaymentDiv.classList.remove('d-none');
            paymentAmountField.required = true;
        } else {
            bobiPaymentDiv.classList.add('d-none');
            bobiPaymentDiv.classList.remove('d-block');
            paymentAmountField.required = false; // Disable validation when hidden
        }
    });
    
    // Function to display error message dynamically
    function displayErrorMessage(message) {
        $('#error-message').removeClass('d-none').text(message);
    }
    </script>
</body>
</html>