<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    .container {
        margin-top: 50px;
    }
    .list-group-item {
        font-size: 1.2rem; 
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav {
        display: flex;
        justify-content: flex-end;
    }
    .nav .btn {
        margin-left: 10px;
    }
</style>
<body>
    <div class="container">
        <div class="header">
            <h1 class="mb-4">Welcome, {{ session['staff_username'] }}</h1>
            <div class="nav">
                {% if 'staff_username' in session %}
                    <a href="/logout_staff" class="btn btn-danger">Logout</a>
                {% else %}
                    <a href="/registration" class="btn btn-info">Register</a>
                    <a href="/login" class="btn btn-primary">Login</a>
                {% endif %}
            </div>
        </div>
    <div class="container mt-3">
        <h2>Add New Product</h2>
        <form method="POST" action="/crud_products/add_product" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" step="0.01" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                        <label for="currency">Currency:</label>
                        <select class="form-control" id="currency_id" name="currency_id">
                            {% for currency in currencies %}
                            <option value="{{ currency[1] }}" {% if current_status == currency[0] %} selected {% endif %}>{{ currency[0] }}</option>
                            {% endfor %}
                        </select>
                </div>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" required>
            </div>
            <div class="form-group">
                <label for="image">Image (up to 10MB)</label>
                <input type="file" name="image" id="image" accept="image/*" onchange="validateImage()" required>
                <p id="error-message" style="color: red;"></p>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category" required>
                    {% for categ in categories %}
                    <option value="{{ categ }}">{{categ}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>
<script>
         function validateImage() {
            let fileInput = document.getElementById('image');
            let file = fileInput.files[0];
            let errorMessage = document.getElementById('error-message');

            // Clear previous error messages
            errorMessage.textContent = '';

            if (file) {
                // Check the file type
                if (!file.type.includes('jpeg')) {
                    errorMessage.textContent = "Please select a JPEG image.";
                    fileInput.value = '';  // Clear the file input
                    return;
                }

                // FileReader to read file contents
                let reader = new FileReader();

                reader.onload = (e) => {
                    let img = new Image();

                    img.onload = () => {
                        let width = img.naturalWidth;
                        let height = img.naturalHeight;

                        console.log(`Image dimensions: ${width} x ${height}`);
                        
                        if (width > 600 || height > 400) {
                            errorMessage.textContent = "Image dimensions should not exceed 600 x 400 pixels.";
                            fileInput.value = '';  // Clear the file input
                        } else {
                            errorMessage.textContent = '';  // Clear the error message if any
                        }
                    };

                    img.onerror = () => {
                        errorMessage.textContent = 'Invalid image. Please check the file and try again.';
                    };

                    img.src = e.target.result;
                };

                reader.onerror = () => {
                    errorMessage.textContent = 'Error loading the image. Please try a different file.';
                };

                reader.readAsDataURL(file);
            }
        }
</script>
</body>
</html>
