<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
<style>
/* Custom styling for Select2 container */
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: calc(2.25rem + 2px); /* Align height with Bootstrap's form controls */
    padding: 0.375rem 0.75rem;
}

/* Style for the dropdown arrow */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(2.25rem + 2px);
    right: 1.25rem; /* Adjust to fit the design better */
}

/* Customize the search input field inside the dropdown */
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
}

/* Customizing the dropdown items */
.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px; /* Control the max height of dropdown */
    overflow-y: auto;
}

/* Styles for highlighting selected and hovered items */
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
}

/* Style adjustments for focus state */
.select2-container--default .select2-selection--single:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
</style>

<body>
    {% if 'cart_message' in session %}
        <div class="alert alert-success" id="homeAlert">
            {{ session.pop('cart_message') }}
        </div>
    {% endif %}
    {% if 'cart_error' in session %}
        <div class="alert alert-danger" id="homeAlert">
            {{ session.pop('cart_error') }}
        </div>
    {% endif %}
    <div class="container mt-5">
        {% include '_header.html' %}
        <br>
        <h2>Your Cart</h2>
        {% if items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th class="text-right">Price (Per Item)</th>
                        <th class="text-right">VAT</th>
                        <th class="text-right">Total Price Without VAT</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item[3] }}</td>
                        <td>{{ item[0] }}</td>
                        <td>
                            <input type="number" min="1" class="form-control quantity" data-item-id="{{ item[3] }}" data-old-quantity="{{ item[2] }}" value="{{ item[2] }}">
                        </td>
                        <td class="text-right" id="price-per-item-{{ item[3] }}">{{ item[1] }} {{ item[4] }}</td>
                        <td class="text-right" id="vat-{{ item[3] }}">{{ (item[5]|float / 100) * (item[1]|float * item[2])|round(2) }} {{ item[4] }}</td>
                        <td class="text-right"><span id="total-{{ item[3] }}">{{ (item[1] * item[2]) }}</span> {{ item[4] }}</td>
                        <td>
                            <form action="/remove_from_cart" method="post" style="display:inline;">
                                <input type="hidden" name="item_id" value="{{ item[3] }}">
                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-right"><strong>Total Sum With VAT:</strong></td>
                        <td class="text-right" id="total-sum-vat">{{ total_sum_with_vat }} лв.</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h2>Shipping Details</h2>
        <form action="/cart" method="post">
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" class="form-control" value="{{form_data['email'] if form_data else ''}}" required>
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" class="form-control" value="{{form_data['first_name'] if form_data else ''}}" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" class="form-control" value="{{form_data['last_name'] if form_data else ''}}" required>
            </div>
            <div class="form-group">
                <label for="town">Town:</label>
                <input type="text" id="town" name="town" class="form-control" value="{{form_data['town'] if form_data else ''}}" required>
            </div>
            <div class="form-group">
                <label for="address">Address for Shipping:</label>
                <input type="text" id="address" name="address" class="form-control" value="{{form_data['address'] if form_data else ''}}" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number: select country code e.g(+359), type phone number in format 894703986</label>
                <div class="input-group">

                    <select class="custom-select" id="country_code" name="country_code" value="{{form_data['country_code'] if form_data else ''}}" required>
                        <option value="">Select a country</option>
                        {% for code in country_codes %}
                            <option value="{{ code[2] }}">{{ code[1] }} ({{ code[2] }})</option>
                        {% endfor %}
                    </select>

                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number without the country code" value="{{form_data['phone'] if form_data else ''}}" required>

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Proceed to Payment</button>
        </form>
        {% else %}
            <div class="alert alert-info">Your cart is empty.</div>
            <button onclick="location.href='/home'" class="btn btn-primary">Go back to home page</button>
        {% endif %}
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('#country_code').select2({
        placeholder: "Select a country",
        allowClear: true
    });
});

$(document).ready(function() {
    $('.quantity').change(function() { // This attaches the event listener to the quantity inputs.
        const itemId = $(this).data('item-id');
        const inputField = $(this);
        const newQuantity = parseFloat($(this).val());
        const oldQuantity = parseFloat($(this).data('old-quantity') || 0);

        if (newQuantity !== oldQuantity) { // Only make the AJAX call if the quantity has actually changed.
            $.ajax({
                url: '/update_cart_quantity',
                method: 'POST',
                data: {
                    item_id: itemId,
                    quantity: newQuantity
                },
                success: function(response) {
                    console.log('AJAX response:', response);
                    if (response.success) {
                        const pricePerItemText = $(`#price-per-item-${itemId}`).text();
                        console.log(pricePerItemText + " pricePerItemText")
                        const pricePerItem = parseFloat(pricePerItemText.replace(/[^\d.-]/g, ''));
                        console.log(pricePerItem + " pricePerItem")
                        const newLineTotal = newQuantity * pricePerItem;
                        console.log(newLineTotal + " newLineTotal")
                        $(`#total-${itemId}`).text(newLineTotal.toFixed(2));

                        // Calculate new VAT 
                        const vatRate = parseFloat(response.vat_rate) / 100;
                        const newVAT = (pricePerItem * newQuantity) * vatRate;
                        $(`#vat-${itemId}`).text(newVAT.toFixed(2));

                        totalSumWithoutVAT = 0;
                        $('span[id^="total-"]').each(function() { // selects all <span> elements with id starting with totoal and iterates over each
                            const itemTotal = parseFloat($(this).text()); // for every element, taks it's text context and parse it to float
                            totalSumWithoutVAT += itemTotal;
                        });


                        let totalSumVAT = totalSumWithoutVAT + (totalSumWithoutVAT * vatRate)

                        $(`.quantity[data-item-id=${itemId}]`).data('old-quantity', newQuantity); // Update the old quantity data attribute.
                        $('#total-sum-vat').text(totalSumVAT.toFixed(2) + ' лв.');

                    } else {
                        alert('Failed to update cart. Please try again! (Quantity can\'t be zero or below)');
                        inputField.val(oldQuantity);
                    }
                }
            });
        }
    });
});

window.onload = function() {
    setTimeout(function() {
        let homeAlert = document.getElementById('homeAlert');
        if (homeAlert) {
            homeAlert.style.display = 'none';
        }
    }, 10000);
};
</script>
</html>
