<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% if 'cart_message' in session %}
        <div class="alert alert-success">
            {{ session.pop('cart_message') }}
        </div>
    {% endif %}
    <div class="container mt-5">
        <h2>Your Cart</h2>
        {% if items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th class="text-right">Price (Per Item)</th>
                        <th class="text-right">Total Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item[0]}}</td>
                            <td>{{ item[2] }}</td>
                            <td class="text-right">{{ item[1] }} {{"лв."}}</td>
                            <td class="text-right">{{ (item[1] * item[2])}} {{"лв."}}</td>
                            <td>
                                <form action="/remove_from_cart" method="post">
                                    <input type="hidden" name="item_id" value="{{ item[3] }}">
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="text-right"><strong>Total Sum:</strong></td>
                        <td class="text-right">{{ total_sum}} {{"лв."}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h2>Shipping Details</h2>
        <form action="/cart" method="post">
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="town">Town:</label>
                <input type="text" id="town" name="town" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="address">Address for Shipping:</label>
                <input type="text" id="address" name="address" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number (in format "+359 874753983"):</label>
                <input type="tel" id="phone" name="phone" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Proceed to Payment</button>
        </form>
        {% else %}
            <div class="alert alert-info">Your cart is empty.</div>
        {% endif %}
    </div>
</body>
</html>
