<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% if 'cart_message' in session %}
        <div class="alert alert-success" id="homeAlert">
            {{ session.pop('cart_message') }}
        </div>
    {% endif %}
    {% if 'cart_error' in session %}
        <div class="alert alert-danger" id="homeAlert">
            {{ session.pop('cart_error') }}
        </div>
    {% endif %}
    <div class="container mt-5">
        <h2>Your Cart</h2>
        {% if items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th class="text-right">Price (Per Item)</th>
                        <th class="text-right">Total Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item[3] }}</td>
                        <td>{{ item[0] }}</td>
                        <td>
                            <input type="number" min="1" class="form-control quantity" data-item-id="{{ item[3] }}" data-old-quantity="{{ item[2] }}" value="{{ item[2] }}">
                        </td>
                        <td class="text-right" id="price-per-item-{{ item[3] }}">{{ item[1] }} {{"лв."}}</td>
                        <td class="text-right"><span id="total-{{ item[3] }}">{{ (item[1] * item[2]) }}</span> {{"лв."}}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm update-cart" data-item-id="{{ item[3] }}">Update</button>
                            <form action="/remove_from_cart" method="post" style="display:inline;">
                                <input type="hidden" name="item_id" value="{{ item[3] }}">
                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-right"><strong>Total Sum:</strong></td>
                        <td class="text-right" id="total-sum">{{ total_sum }} лв.</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h2>Shipping Details</h2>
        <form action="/cart" method="post">
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="town">Town:</label>
                <input type="text" id="town" name="town" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="address">Address for Shipping:</label>
                <input type="text" id="address" name="address" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <div class="input-group">
                    <select class="custom-select" id="country_code" name="country_code" required>
                        {% for code in country_codes %}
                            <option value="{{ code[2] }}">{{ code[1] }} ({{ code[2] }})</option>
                        {% endfor %}
                    </select>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Proceed to Payment</button>
        </form>
        {% else %}
            <div class="alert alert-info">Your cart is empty.</div>
            <button onclick="location.href='/home'" class="btn btn-primary">Go back to home page</button>
        {% endif %}
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('.update-cart').click(function() { // This line sets up an event listener for a click event on any element with the class update-cart. 
        const itemId = $(this).data('item-id');
        const newQuantity = parseFloat($(`.quantity[data-item-id=${itemId}]`).val());
        const oldQuantity = parseFloat($(`.quantity[data-item-id=${itemId}]`).data('old-quantity') || 0);

        $.ajax({
            url: '/update_cart_quantity',
            method: 'POST',
            data: {
                item_id: itemId,
                quantity: newQuantity
            },
            success: function(response) { // If the server successfully processes the request, this function will be called with the server's response.
                console.log('AJAX response:', response);
                if (response.success) {
                    const pricePerItemText = $(`#price-per-item-${itemId}`).text();
                    const pricePerItem = parseFloat(pricePerItemText.replace(/[^\d.-]/g, ''));
                    const newLineTotal = newQuantity * pricePerItem;
                    $(`#total-${itemId}`).text(newLineTotal.toFixed(2)); // updates the item's total price in the table on the webpage.

                    const difference = (newQuantity - oldQuantity) * pricePerItem;
                    const totalSumText = $('#total-sum').text();
                    let totalSum = parseFloat(totalSumText.replace(/[^\d.-]/g, ''));
                    totalSum += difference;
                    $('#total-sum').text(totalSum.toFixed(2) + ' лв.'); // The total sum is then adjusted by the difference, and the DOM is updated with the new total sum.

                    $(`.quantity[data-item-id=${itemId}]`).data('old-quantity', newQuantity);// Sets old quantity with the updated quantity (which is the new old quantitiy)
                } else {
                    alert('Failed to update cart. Please try again!');
                }
            }
        });
    });
});

       window.onload = function() {
        setTimeout(function() {
            let homeAlert = document.getElementById('homeAlert');
            if (homeAlert) {
                homeAlert.style.display = 'none';
            }
        }, 10000);
    };
</script>
</html>
