<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    .container {
        margin-top: 50px;
    }
    .list-group-item {
        font-size: 1.2rem; 
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav {
        display: flex;
        justify-content: flex-end;
    }
    .nav .btn {
        margin-left: 10px;
    }
</style>
<body>
    {% if 'crud_error' in session %}
        <div class="alert alert-danger" id="homeAlert">
            {{ session.pop('crud_error') }}
        </div>
    {% endif %}
    {% if 'crud_message' in session %}
        <div class="alert alert-success" id="homeAlert">
            {{ session.pop('crud_message') }}
        </div>
    {% endif %}
    <div class="container">
        <div class="header">
            <h1 class="mb-4">Welcome, {{ session['staff_username'] }}</h1>
            <div class="nav">
                {% if 'staff_username' in session %}
                    <a href="/logout_staff" class="btn btn-danger">Logout</a>
                {% else %}
                    <a href="/registration" class="btn btn-info">Register</a>
                    <a href="/login" class="btn btn-primary">Login</a>
                {% endif %}
            </div>
        </div>
    <div class="container mt-3">
        <h2>Product Management</h2>
        <div class="mb-2">
            <button onclick="navigateTo('add_product')" class="btn btn-primary">Add New Product</button>
        </div>
        <form id="priceForm" method="get">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="price_min">Price from:</label>
                <input type="text" id="price_min" name="price_min" value="{{ price_min }}" placeholder="Min Price" class="form-control" onchange="submitForm()">
            </div>
            <div class="form-group col-md-4">
                <label for="price_max">Price to:</label>
                <input type="text" id="price_max" name="price_max" value="{{ price_max }}" placeholder="Max Price" class="form-control" onchange="submitForm()">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary mt-4">Filter Price</button>
            </div>
        </div>
    </form>
        <table class="table">
            <thead>
                <tr>
                    <th><a href="?sort=id&order={{ 'asc' if sort_by != 'id' or sort_order == 'desc' else 'desc' }}&price_min={{ price_min or '' }}&price_max={{ price_max or '' }}">ID</a></th>
                    <th><a href="?sort=name&order={{ 'asc' if sort_by != 'name' or sort_order == 'desc' else 'desc' }}&price_min={{ price_min or '' }}&price_max={{ price_max or '' }}">Name</a></th>
                    <th class="text-right"><a href="?sort=price&order={{ 'asc' if sort_by != 'price' or sort_order == 'desc' else 'desc' }}&price_min={{ price_min or ''}}&price_max={{ price_max or ''}}">Price</a></th>
                    <th class="text-right"><a href="?sort=quantity&order={{ 'asc' if sort_by != 'quantity' or sort_order == 'desc' else 'desc' }}&price_min={{ price_min or ''}}&price_max={{ price_max or ''}}">Quantity</a></th>
                    <th class="text-right"><a href="?sort=category&order={{ 'asc' if sort_by != 'category' or sort_order == 'desc' else 'desc' }}&price_min={{ price_min or ''}}&price_max={{ price_max or ''}}">Category</a></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product[0]}}</td>
                    <td>{{ product[1]}}</td>
                    <td class="text-right">{{ product[2]}} {{"лв."}} </td>
                    <td class="text-right">{{ product[3]}}</td>
                    <td class="text-right">{{ product[4]}}</td>
                    <td>
                        <button onclick="navigateTo('edit_product/{{ product[0] }}')" class="btn btn-secondary">Edit</button>
                        <button onclick="if(confirm('Are you sure?')) navigateTo('delete_product/{{ product[0] }}')" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>
    function navigateTo(path) {
            const baseURL = window.location.href.split('?')[0]; 
            window.location.href = baseURL + '/' + path;
    }

    function submitForm() {
        document.getElementById("priceForm").submit();
    }
    window.onload = function() {
        setTimeout(function() {
            let homeAlert = document.getElementById('homeAlert');
            if (homeAlert) {
                homeAlert.style.display = 'none';
            }
        }, 3000);
    };
</script>
</html>
