<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% extends "base.html" %}
    {% block title %}Order Management{% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 1200px;
            margin: auto;
        }
        .table {
            width: 100%;
            margin-top: 20px;
        }
        .btn-group-horizontal {
            display: flex; 
            flex-wrap: nowrap; 
        }
        .btn-group-horizontal .btn {
            margin-right: 5px; 
        }
        .btn-group-horizontal .btn:last-child {
            margin-right: 0; 
        }
    </style>
</head>
<body>
    {% block content %}
    {% if 'crud_error' in session %}
        <div class="alert alert-danger" id="homeAlert">
            {{ session.pop('crud_error') }}
        </div>
    {% endif %}
    {% if 'crud_message' in session %}
        <div class="alert alert-success" id="homeAlert">
            {{ session.pop('crud_message') }}
        </div>
    {% endif %}
    <div class="container mt-3">
        <h2>Order Management</h2>
        <div class="mb-2">
            <button onclick="navigateTo('{{ username }}/{{ back_office }}/crud_orders/add_order')" class="btn btn-primary">Add New Order</button>
        </div>
        <form id="priceForm" method="get">
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="price_min">Price from:</label>
                    <input type="text" id="price_min" name="price_min" placeholder="Min Price" class="form-control" value="{{ price_min }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="price_max">Price to:</label>
                    <input type="text" id="price_max" name="price_max" placeholder="Max Price" class="form-control" value="{{ price_max }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="date_from">Date from:</label>
                    <input type="datetime-local" id="date_from" name="date_from" placeholder="Date from" class="form-control" value="{{ date_from }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="date_to">Date to:</label>
                    <input type="datetime-local" id="date_to" name="date_to" placeholder="Date to" class="form-control" value="{{ date_to }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="order_by_id">Find order by id:</label>
                    <input type="text" id="order_by_id" name="order_by_id" placeholder="Order id" class="form-control" value="{{ order_by_id }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                        <label for="status">Status:</label>
                        <select class="form-control" id="status" name="status">
                            {% for status in statuses %}
                            <option value="{{ status[0] }}" {% if current_status == status[0] %} selected {% endif %}>{{ status[0] }}</option>
                            {% endfor %}
                        </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Filter by all selected fields</button>

        </form>
        <table class="table">
            <thead>
                <tr>
                    <th><a href="?sort=id&order={{ 'asc' if request.args.get('sort') == 'id' and request.args.get('order') == 'desc' else 'desc' }}">Order ID</a></th>
                    <th><a href="?sort=date&order={{ 'desc' if request.args.get('sort') == 'date' and request.args.get('order') == 'asc' else 'asc' }}">Order date</a></th>
                    <th>User</th>
                    <th class="text-right">Order price</th>
                    <th class="text-right">Order status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order[0] }}</td>
                    <td>{{ order[5] }}</td>
                    <td>{{ order[1] }}</td>
                    <td class="text-right">{{ order[3] }} {{ order[6] }}</td>
                    <td class="text-right">{{ order[4] }}</td>
                    <td>
                        <div class="btn-group-horizontal">
                            <button onclick="navigateTo('{{ username }}/{{ back_office }}/crud_orders/edit_order/{{ order[0] }}')" class="btn btn-secondary">Edit</button>
                            <button onclick="if(confirm('Are you sure?')) navigateTo('{{ username }}/{{ back_office }}/crud_orders/delete_order/{{ order[0] }}')" class="btn btn-danger">Delete Order</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>
    function navigateTo(path) {
        event.preventDefault();
        const baseURL = window.location.origin;
        window.location.href = baseURL + '/' + path;
    }
    function submitForm() {
        document.getElementById("priceForm").submit();
    }
    window.onload = function() {
        setTimeout(function() {
            let homeAlert = document.getElementById('homeAlert');
            if (homeAlert) {
                homeAlert.style.display = 'none';
            }
        }, 3000);
    };
</script>
{% endblock %}
</html>
