<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css">
</head>
<body>
    {% if 'home_message' in session %}
        <div class="alert alert-success">
            {{ session.pop('home_message') }}
        </div>
    {% endif %}
    <div class="container">
        {% include '_header.html' %}
        <br>
        <form method="post" action="/add_product" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Product Name" required>
            <input type="text" name="price" placeholder="Price" required>
            <input type="text" name="quantity" placeholder="Quantity" required>
            <input type="text" name="category" placeholder="Category" required>
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Add Product</button>
        </form>
        <br>
        <form method="get" action="/home/{{ page }}">
            <div class="form-group">
                <label for="sort">Sort by:</label>
                <select name="sort" id="sort" onchange="this.form.submit()">
                    <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Price</option>
                    <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Name</option>
                    <option value="category" {% if sort_by == 'category' %}selected{% endif %}>Category</option>
                </select>
            </div>
            <div class="form-group">
                <label for="order">Order:</label>
                <select name="order" id="order" onchange="this.form.submit()">
                    <option value="asc" {% if sort_order == 'asc' %}selected{% endif %}>Ascending</option>
                    <option value="desc" {% if sort_order == 'desc' %}selected{% endif %}>Descending</option>
                </select>
            </div>
            <div class="form-group">
                <label for="product_category">Category:</label>
                <select name="product_category" id="product_category" onchange="this.form.submit()">
                    <option value=""{% if product_category == '' %}selected{% endif %}>Всички</option>
                    <option value="Осветителни тела" {% if product_category == 'Осветителни тела' %}selected{% endif %}>Осветителни тела</option>
                    <option value="Разклонители" {% if product_category == 'Разклонители' %}selected{% endif %}>Разклонители</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price_min">Price from:</label>
                <input type="text" id="price_min" name="price_min" value="{{ price_min }}" placeholder="Min Price">
            </div>
            <div class="form-group">
                <label for="price_max">Price to:</label>
                <input type="text" id="price_max" name="price_max" value="{{ price_max }}" placeholder="Max Price">
            </div>
            <div class="form-group">
                <label for="product_name">Product Name:</label>
                <input type="text" id="product_name" name="product_name" value="{{ product_name }}" onchange="this.form.submit()">
            </div>
            <div class="form-group">
                <label for="products_per_page">Products per page:</label>
                <input type="text" id="products_per_page" name="products_per_page" value="{{ products_per_page }}" onchange="validateAndSubmit(this)">
            </div>
        </form>
        <br>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="/image/{{ product[0] }}" alt="{{ product[1] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product[1]}}</h5>
                        <p class="card-text">Цена: {{ product[2]}} лв.</p>
                        <p class="card-text">{{ 'Налично в момента' if product[3] > 0 else 'Изкупено, нямаме в наличност' }}</p>
                        <p class="card-text">Категория: {{ product[4]}}</p>
                        <form action="/add_to_cart" method="post">
                            <input type="hidden" name="product_id" value="{{ product[0] }}">
                            <input type="number" name="quantity" value="1" min="1" max="{{ product[3] }}">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav>
            <ul class="pagination">
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="{% if page > 1 %}/home/{{page - 1}}{% else %}#{% endif %}">Previous</a>
                </li>
                {% for i in range(1, total_pages + 1) %}
                <li class="page-item {% if i == page %}active{% endif %}">
                    <a class="page-link" href="/home/{{i}}?sort={{ sort_by }}&order={{ sort_order }}">{{ i }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
                    <a class="page-link" href="{% if page < total_pages %}/home/{{page + 1}}{% else %}#{% endif %}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
<script>
    function validateAndSubmit(input) {
        let value = parseInt(input.value, 10);
        if (/^\d+$/.test(value) && value >= 1 ) {
            input.value = parseInt(value, 10);
            input.form.submit();
        } else {
            alert('Please enter a valid number and bigger than zero');
            input.value = ''; 
        }
    }
    </script>
</html>