<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css">
</head>
<body>
    {% if 'home_message' in session %}
        <div class="alert alert-success" id="homeAlert">
            {{ session.pop('home_message') }}
        </div>
    {% endif %}
    <div class="container">
        {% include '_header.html' %}
        <br>
        <br>
        <form method="get" action="/home/{{ page }}">
            <div class="form-group">
                <label for="sort">Sort by:</label>
                <select name="sort" id="sort" onchange="this.form.submit()">
                    <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Price</option>
                    <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Name</option>
                    <option value="category" {% if sort_by == 'category' %}selected{% endif %}>Category</option>
                </select>
            </div>
            <div class="form-group">
                <label for="order">Order:</label>
                <select name="order" id="order" onchange="this.form.submit()">
                    <option value="asc" {% if sort_order == 'asc' %}selected{% endif %}>Ascending</option>
                    <option value="desc" {% if sort_order == 'desc' %}selected{% endif %}>Descending</option>
                </select>
            </div>
            <div class="form-group">
                <label for="product_category">Category:</label>
                <select name="product_category" id="product_category" onchange="this.form.submit()">
                    {% for categ in categories %}
                    <option value="{{ categ }}" {% if categ == categ  %}selected {% endif %}>{{categ}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="price_min">Price from:</label>
                <input type="text" id="price_min" name="price_min" value="{{ price_min }}" placeholder="Min Price">
            </div>
            <div class="form-group">
                <label for="price_max">Price to:</label>
                <input type="text" id="price_max" name="price_max" value="{{ price_max }}" placeholder="Max Price">
            </div>
            <div class="form-group">
                <label for="product_name">Product Name:</label>
                <input type="text" id="product_name" name="product_name" value="{{ product_name }}" onchange="this.form.submit()">
            </div>
            <div class="form-group">
                <label for="products_per_page">Products per page:</label>
                <input type="text" id="products_per_page" name="products_per_page" value="{{ products_per_page }}" onchange="validateAndSubmit(this)">
            </div>
        </form>
        <br>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="/image/{{ product[0] }}" alt="{{ product[1] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product[1]}}</h5>
                        <p class="card-text">Цена: {{ product[2]}} лв.</p>
                        <p class="card-text">{{ 'Налично в момента' if product[3] > 0 else 'Изкупено, нямаме в наличност' }}</p>
                        <p class="card-text">Категория: {{ product[4]}}</p>
                        <form action="/add_to_cart" method="post" onsubmit="addToCart(event, this)">
                            <input type="hidden" name="product_id" value="{{ product[0] }}">
                            <input type="number" name="quantity" value="1" min="1">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav>
            <ul class="pagination">
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="{% if page > 1 %}/home/{{page - 1}}{% else %}#{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% set window = 5 %}
                {% set start_page = page - window if page - window > 0 else 1 %}
                {% set end_page = page + window if page + window <= total_pages else total_pages %}
                
                {% if start_page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="/home/1">1</a>
                </li>
                {% if start_page > 2 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
                {% endif %}
        
                {% for i in range(start_page, end_page + 1) %}
                <li class="page-item {% if i == page %}active{% endif %}">
                    <!-- http://10.20.3.101:5000/home?page=1&sort=price&order=asc -->
                    <!-- http://10.20.3.101:5000/home/1?     sort=price&order=asc&product_category=Tools&price_min=&price_max=&product_name=&products_per_page= -->
                    <a class="page-link" href="/home/{{ i }}?sort={{ sort_by }}&order={{ sort_order }}&product_category={{ request.args.get('product_category', '') }}&price_min={{ request.args.get('price_min', '') }}&price_max={{ request.args.get('price_max', '') }}&product_name={{ request.args.get('product_name', '') }}&products_per_page={{ request.args.get('products_per_page', '') }}">{{ i }}</a>
                </li>
                {% endfor %}
                
                {% if end_page < total_pages %}
                {% if end_page < total_pages - 1 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="/home/{{total_pages}}">{{total_pages}}</a>
                </li>
                {% endif %}
        
                <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
                    <a class="page-link" href="{% if page < total_pages %}/home/{{page + 1}}{% else %}#{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
</body>
<script>
    function addToCart(event, form) {
    event.preventDefault();  // Stops the normal form submission process, allowing to handle it via JavaScript.
    const formData = new FormData(form);  // Create a FormData object from the form
        fetch(form.action, {
            method: 'POST',
            body: formData,
            credentials: 'include'  // Ensures cookies (like session cookie) are sent with the request
        }).then(response => response.json())
        .then(data => {
            alert(data.message);
            if(data.newCartCount !== undefined) {
                updateCartCount(data.newCartCount);
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    }
    function updateCartCount(newCount) {
        let cartBadge = document.querySelector('.cart-badge');
        if (cartBadge) {
            cartBadge.textContent = newCount + " items in cart";
        }
    }
    window.onload = function() {
        setTimeout(function() {
            let homeAlert = document.getElementById('homeAlert');
            if (homeAlert) {
                homeAlert.style.display = 'none';
            }
        }, 3000);
    };
    function validateAndSubmit(input) {
        let value = parseInt(input.value, 10);
        if (/^\d+$/.test(value) && value >= 1 ) {
            input.value = parseInt(value, 10);
            input.form.submit();
        } else {
            alert('Please enter a valid number and bigger than zero');
            input.value = ''; 
        }
    }
    </script>
</html>