<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Exceptions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .list-group-item {
            font-size: 1.2rem; 
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav {
            display: flex;
            justify-content: flex-end;
        }
        .nav .btn {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-3">
        <div class="header">
            <h1 class="mb-4">Welcome, {{ session['staff_username'] }}</h1>
            <div class="nav">
                {% if 'staff_username' in session %}
                    <a href="/logout_staff" class="btn btn-danger">Logout</a>
                {% else %}
                    <a href="/registration" class="btn btn-info">Register</a>
                    <a href="/login" class="btn btn-primary">Login</a>
                {% endif %}
            </div>
        </div>
        <h2>Log Exceptions</h2>
        <table class="table">
            <thead>
                <tr>
                    <th><a href="?sort=time&order={{ 'asc' if sort_by != 'time' or sort_order == 'desc' else 'desc' }}">Time</a></th>
                    <th>Email</th>
                    <th>Exception Type</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for log in log_exceptions %}
                <tr>
                    <td>{{ log[4] }}</td>
                    <td>{{ log[1] }}</td>
                    <td>{{ log[2] }}</td>
                    <td>{{ log[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
