<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% if 'registration_error' in session %}
        <div class="alert alert-danger" id="homeAlert">
            {{ session.pop('registration_error') }}
        </div>
    {% endif %}
    <div class="container">
        <h2>Register</h2>
        <form  id="myForm" method="POST" action="/registration">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{form_data['first_name'] if form_data else ''}}" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{form_data['last_name'] if form_data else ''}}" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{form_data['email'] if form_data else ''}}" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="form-group">
                <label for="captcha">Captcha</label>
                <p>Solve the following: <span id="first_number">{{ captcha['first'] }}</span> + <span id="second_number">{{ captcha['second'] }}</span> = ?</p>
                <button type="button" id="refresh_captcha" class="btn btn-info">Refresh Captcha</button>
                <br>
                <br>
                <input type="text" class="form-control" id="captcha" name="captcha" placeholder="Enter the sum" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() { // Ensures that the entire page is fully loaded
    $('#refresh_captcha').click(function() { // Binds a click event to the element with the ID 'refresh_captcha'
        $.getJSON('/refresh_captcha', function(data) { // Makes an AJAX [get] request to the server at the endpoint /refresh_captcha. This function expects the server to return JSON data.
            $('#first_number').text(data.first); //  Finds an element with the ID first_number and sets its text content to data.first.
            $('#second_number').text(data.second);
            $('#captcha_id').val(data.captcha_id);
        }).fail(function() {
            console.error('Error: Unable to fetch new captcha.');
        });;
    });
});
</script>
<script>
       window.onload = function() {
        setTimeout(function() {
            let homeAlert = document.getElementById('homeAlert');
            if (homeAlert) {
                homeAlert.style.display = 'none';
            }
        }, 3000);
    };

    window.addEventListener("pageshow", function (event) {
      if (event.persisted) {
        document.getElementById("myForm").reset();
      }
    });
  </script>
</html>