<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Generate Sales Report</h2>
        <form action="/reports" method="post">
            <label for="date_from">From:</label>
            <input type="date" id="date_from" name="date_from" required>
        
            <label for="date_to">To:</label>
            <input type="date" id="date_to" name="date_to" required>
        
            <label for="group_by">Group by:</label>
            <select id="group_by" name="group_by">
                <option value="">Every order</option>
                <option value="day">Day</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>

            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="">All</option>
                <option value="Ready for Paying">Ready for Paying</option>
                <option value="Paid">Paid</option>
            </select>
        
            <button type="submit">Generate Report</button>
        </form>
        {% if report %}
        <div class="mt-4">
            <h3>Report</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Order ID</th>
                        <th>Name of Buyer</th>
                        <th class="text-right">Total Price</th>
                        <th class="text-right">Order Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in report %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ "-" if row[1]|length > 2 else row[1]|join(', ') }}</td>
                        <td>{{ "-" if row[2]|length > 2 else row[2]|join(', ') }}</td>
                        <td class="text-right">{{ row[3] }} {{'лв.'}}</td>
                        <td class="text-right">{{ row[4][0] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <br>
        <h2>No records with this filters</h2>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
