<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% extends "base.html" %}
    {% block title %} Generate Report {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <h2>Generate Sales Report</h2>
        <form id="reportForm" action="/report_sales" method="post">
            <div class="form-row">
                <div class="col">
                    <label for="date_from">From:</label>
                    <input type="date" class="form-control" id="date_from" name="date_from" value="{{ default_from_date }}">
                </div>
                <div class="col">
                    <label for="date_to">To:</label>
                    <input type="date" class="form-control" id="date_to" name="date_to" value="{{ default_to_date }}">
                </div>
                <div class="col-md-4">
                    <label for="group_by">Group by time:</label>
                    <select id="group_by" class="form-control" name="group_by">
                        <option value="">All</option>
                        <option value="day" {{ 'selected' if request.form.group_by == 'day' else '' }}>Day</option>
                        <option value="month" {{ 'selected' if request.form.group_by == 'month' else '' }}>Month</option>
                        <option value="year" {{ 'selected' if request.form.group_by == 'year' else '' }}>Year</option>
                    </select>
                </div>
            </div>
            
            <div class="form-row mt-3">
                <div class="col-md-4">
                    <label for="status">Group by status:</label>
                    <select id="status" class="form-control" name="status">
                        <option value="">Hide</option>
                        <option value="Ready for Paying" {{ 'selected' if request.form.status == 'Ready for Paying' else '' }}>Group by status</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="filter_by_status">Filter by status:</label>
                    <select id="filter_by_status" class="form-control" name="filter_by_status">
                        <option value="">Hide</option>
                        <option value="Ready for Paying" {{ 'selected' if request.form.filter_by_status == 'Ready for Paying' else '' }}>Ready for Paying</option>
                        <option value="Paid" {{ 'selected' if request.form.filter_by_status == 'Paid' else '' }}>Paid</option>
                    </select>
                </div>
            </div>

            <div class="col-md-5">
                <label for="sale_id">Find order by ID:</label>
                <input type="number" class="form-control" id="sale_id" name="sale_id">
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Generate Report</button>
        </form>

        {% if report %}
        <div class="mt-4">
            <h3>Report</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Order ID</th>
                        <th>Name of Buyer</th>
                        <th class="text-right">Order Status</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">VAT</th>
                        <th class="text-right">Total Price With VAT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in report %}
                    <tr>
                        <td>{{ row[2] }}</td>
                        <td>
                            {{ row[1] }}
                        </td>
                        <td>
                            {{ row[3] }}
                        </td>
                        <td class="text-right">
                            {{ row[4] }}
                        </td>
                        <td class="text-right">{{ row[5] }} {{'лв.'}}</td>
                        <td class="text-right">{{ row[6] }} {{'лв.'}}</td>
                        <td class="text-right">{{ row[7] }} {{'лв.'}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <!-- <td> <strong>Total Records: </strong>{{ total_records }} from {{ limitation_rows }}</td> -->

                        {% if total_records >= limitation_rows %}

                            <strong>Total Records: </strong>{{ limitation_rows }}/{{ total_records }}

                            <td> {{ total_records - limitation_rows }} records are missing in the report</td>

                        {% else %}

                            <strong>Total Records: </strong>{{ total_records }}
                            <td> Every record is displayed </td>

                        {% endif %}
                        
                        <td colspan="4" class="text-right"><strong>Total With VAT:</strong></td>
                        <td class="text-right"><strong>{{ total_price_with_vat }} лв.</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form action="/download_report" method="post">
            <input type="hidden" name="date_from" value="{{ request.form['date_from'] }}">
            <input type="hidden" name="date_to" value="{{ request.form['date_to'] }}">
            <input type="hidden" name="group_by" value="{{ request.form['group_by'] }}">
            <input type="hidden" name="status" value="{{ request.form['status'] }}">
            <input type="hidden" name="total_records" value="{{ total_records }}">
            <input type="hidden" name="total_price" value="{{ total_price }}">
            <input type="hidden" name="report_data" value="{{ report_json }}">
            <input type="hidden" name="total_vat" value="{{ total_vat }}">
            <input type="hidden" name="total_price_with_vat" value="{{ total_price_with_vat }}">

            <select name="format" class="form-control">
                <option value="csv">CSV</option>
                <option value="excel">Excel</option>
            </select>
            <br>
            <button type="submit" class="btn btn-secondary">Download Report</button>
        </form>
        {% else %}
        <br>
         <form action="/download_report_without_generating_rows_in_the_html" method="post">
            <input type="hidden" name="date_from" value="{{ request.form['date_from'] }}">
            <input type="hidden" name="date_to" value="{{ request.form['date_to'] }}">
            <input type="hidden" name="group_by" value="{{ request.form['group_by'] }}">
            <input type="hidden" name="status" value="{{ request.form['status'] }}">
            <input type="hidden" name="total_records" value="0"> 
            <input type="hidden" name="total_price" value="0">   
            <select name="format" class="form-control">
                <option value="csv">CSV</option>
            </select>
            <br>
            <button type="submit" class="btn btn-secondary">Download Report</button>
        </form>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
