<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% extends "base.html" %}
    {% block title %} Role Permission's Management {% endblock %}

</head>
<body>
    {% block content %}
    {% if 'role_permission_error' in session %}
    <div class="alert alert-danger" id="homeAlert">
        {{ session.pop('role_permission') }}
    </div>
    {% endif %}
    {% if 'role_permission_message' in session %}
    <div class="alert alert-success" id="homeAlert">
        {{ session.pop('role_permission_message') }}
    </div>
    {% endif %}
    <div class="container mt-5">
        <h2>Manage Role Permissions</h2>
        <form action="/role_permissions" method="POST">
            <div class="form-group">
                <label for="role">Select Role:</label>
                <select id="role" name="role" class="form-control" onchange="onRoleChange()">
                    {% for role in roles %}
                        <option value="{{ role[0] }}" {% if selected_role == role[0] %}selected{% endif %}>{{ role[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Interface</th>
                        <th>Create</th>
                        <th>Read</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for interface in interfaces %}
                    <tr>
                        <td>{{ interface }}</td>
                        {% for action in ['create', 'read', 'update', 'delete'] %}
                        <td>
                            <input type="checkbox" name="{{ interface }}_{{ action }}" 
                                   {% if role_permissions[selected_role][interface][action] %}checked{% endif %}>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Save Permissions</button> 
        </form>
        <br>
        <a href="/staff_portal" class="btn btn-primary">Home page</a>
    </div>
</body>
<script>
    window.onload = function() {
        setTimeout(function() {
             let homeAlert = document.getElementById('homeAlert');
             if (homeAlert) {
                 homeAlert.style.display = 'none';
             }
        }, 3000);
    };

    function onRoleChange() {
        let role = document.getElementById("role").value;
        console.log("Changing role to:", role);
        window.location.href = '/role_permissions?role=' + role;
    }
</script>
{% endblock %}
</html>
