<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Portal</title>
    <div class="nav">
        {% if 'staff_username' in session %}
            <a href="/logout_staff" class="btn btn-danger">Logout</a>
        {% else %}
            <a href="/registration" class="btn btn-info">Register</a>
            <a href="/login" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .list-group-item {
            font-size: 1.2rem;  /* Slightly larger font for better readability */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Welcome, {{ session['staff_username'] }}</h1>
        <div class="list-group">
            <a href="/logs" class="list-group-item list-group-item-action">View Logs</a>
            <a href="/crud" class="list-group-item list-group-item-action">Manage Products</a>
            <a href="/update_captcha_settings" class="list-group-item list-group-item-action">Update Captcha Settings</a>
        </div>
    </div>
</body>
</html>
