<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Role to Staff</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-3">
        <div class="container mt-3">
            <h2>Staff Roles Management</h2>
            <div class="mb-2">
                <button onclick="location.href='/{{ username }}/crud_staff/add_role_staff'" class="btn btn-primary">Assign new role to staff</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for relation in relations %}
                    <tr>
                        <td>{{ relation[0] }}</td>
                        <td>{{ relation[1] }}</td>
                        <td>
                            <button onclick="if(confirm('Are you sure?')) location.href='/{{current_role}}/crud_staff/delete_role/{{ relation[2] }}/{{ relation[3] }}'" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>
</html>
