<!DOCTYPE html>
<html lang="en">
<head>
    {% if 'staff_error' in session %}
    <div class="alert alert-danger" id="homeAlert">
        {{ session.pop('staff_error') }}
    </div>
    {% endif %}
    {% if 'staff_message' in session %}
    <div class="alert alert-success" id="homeAlert">
        {{ session.pop('staff_message') }}
    </div>
    {% endif %}
    <meta charset="UTF-8">
    <title>Staff Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .list-group-item {
            font-size: 1.2rem; 
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav {
            display: flex;
            justify-content: flex-end;
        }
        .nav .btn {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="mb-4">
                {% if session.get('first_visit', False) %}
                    Welcome, {{ session['staff_username'] }}
                {% else %}
                    {{ session['staff_username'] }}
                {% endif %}
            </h1>
        </div>
        <div class="list-group">
            <a href="/{{ username }}/back_office/error_logs" class="list-group-item list-group-item-action">1. View Logs</a>
            <a href="/{{ username }}/back_office/crud_products" class="list-group-item list-group-item-action">2. Manage Products</a>
            <a href="/{{ username }}/back_office/update_captcha_settings" class="list-group-item list-group-item-action">3. Update Captcha Settings</a>
            <a href="/{{ username }}/back_office/report_sales" class="list-group-item list-group-item-action">4. Report Sales</a>
            <a href="/{{ username }}/back_office/crud_staff" class="list-group-item list-group-item-action">5. Assign a role to staff</a>
            <a href="/{{ username }}/back_office/role_permissions" class="list-group-item list-group-item-action">6. Assign a permission to role</a>
            <a href="/{{ username }}/back_office/crud_orders" class="list-group-item list-group-item-action">7. Manage Orders</a>
            <a href="/{{ username }}/back_office/active_users" class="list-group-item list-group-item-action">8. See active users</a>
            <a href="/{{ username }}/back_office/crud_users" class="list-group-item list-group-item-action">9. Manage Users</a>
        </div>
    </div>
</body>
<script>
    window.onload = function() {
     setTimeout(function() {
         let homeAlert = document.getElementById('homeAlert');
         if (homeAlert) {
             homeAlert.style.display = 'none';
         }
     }, 3000);
 };
</script>
</html>
