<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Email Template</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Edit Email Template</h2>
    <form action="/template_email" method="POST">

        <div class="form-group">
            <label for="name">Template Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ name }}" >
        </div>

        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" value="{{ subject }}">
        </div>

        <div class="form-group">
            <label for="sender_email">Sender Email</label>
            <input type="email" class="form-control" id="sender" name="sender" value="{{ sender }}">
        </div>

        <div class="form-group">
            <label for="body">Email Body</label>
            <textarea class="form-control" id="body" name="body" rows="10">{{ body }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
