<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
    {% block title %}Edit Email Template{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
</head>
<body>
{% block content %}
<div class="container mt-5">
    <h2>Verification Email</h2>
    <form action="/template_email" method="POST">

        <div class="form-group">
            <label for="name">Template Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ name }}" readonly>
        </div>

        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" value="{{ subject }}" readonly>
        </div>

        <div class="form-group">
            <label for="sender_email">Sender Email</label>
            <input type="email" class="form-control" id="sender" name="sender" value="{{ sender }}" readonly>
        </div>

        <div class="form-group">
            <label for="body">Email Body: variables to insert - {first_name}, {last_name}, {verification_code}</label>
            <textarea class="form-control" id="body" name="body" rows="10">{{ body }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

<div class="container mt-5">
    <h2>Purchase Email</h2>
    <form action="/template_email_purchase" method="POST">

        <div class="form-group">
            <label for="name">Template Name</label>
            <input type="text" class="form-control" id="name_purchase" name="name_purchase" value="{{ tepmplate_name_purchase }}" readonly>
        </div>

        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject_purchase" name="subject_purchase" value="{{ tepmplate_subject_purchase }}" readonly>
        </div>

        <div class="form-group">
            <label for="sender_email">Sender Email</label>
            <input type="email" class="form-control" id="sender" name="sender" value="{{ sender }}"readonly>
        </div>

        <div class="form-group">
            <label for="body_purchase">Email Body: variables to insert - {first_name}, {last_name}, {cart}, {shipping_details}</label>
            <textarea class="form-control" id="body_purchase" name="body_purchase" rows="10">{{ tepmplate_body_purchase }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

<div class="container mt-5">
    <h2>Payment Email</h2>
    <form action="/template_email_payment" method="POST">

        <div class="form-group">
            <label for="name">Template Name</label>
            <input type="text" class="form-control" id="name_payment" name="name_payment" value="{{ tepmplate_name_payment }}" readonly>
        </div>

        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject_payment" name="subject_payment" value="{{ tepmplate_subject_payment }}" readonly>
        </div>

        <div class="form-group">
            <label for="sender_email">Sender Email</label>
            <input type="email" class="form-control" id="sender" name="sender" value="{{ sender }}"readonly>
        </div>

        <div class="form-group">
            <label for="body_payment">Email Body: variables to insert - {first_name}, {last_name}, {products}, {shipping_details}</label>
            <textarea class="form-control" id="body_payment" name="body_payment" rows="10">{{ tepmplate_body_payment }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
<script>
</script>
</body>
{% endblock %}
</html>
